.Image {
  background-color: white;
  padding: 24px 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  margin-top: 20px;
}

img {
  border-radius: 6px;
}

.col-4 {
  padding-bottom: 20px;
}
