.Definition {
  margin: -24px 0 1px;
  font-weight: 500;
}

.Meaning {
  background-color: white;
  padding: 15px 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.07);
  margin-top: 20px;
  border-radius: 6px;
}

ul.List {
  list-style-type: none;
}

.Example {
  font-style: italic;
  opacity: 0.8;
}

.Example::first-letter {
  text-transform: capitalize;
}
